ion-header {
  ion-toolbar {
    --background: transparent;
    --border-width: 0;
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 65%;
  transform: translateY(-50%);
  padding: 0 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.search-container {
  position: relative;

  .background-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%); /* -70% sposta l'immagine verso l'alto */
    z-index: -1;
    opacity: 1;

    @media (prefers-color-scheme: dark) {
      opacity: 0.8;
    }

    @media (prefers-color-scheme: light) {
      opacity: 1;
    }
    max-width: 150%;
  }
}

#container strong {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

#container p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.devices-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  padding: 0 4px;
}

#bottom-right-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
