<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($any($event))">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'home.myPlants' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (plants.length === 0) {
  <div id="container">
    <strong>{{ 'home.noPlants' | translate }}</strong>
    <p>{{ 'home.noPlantsHint' | translate }}</p>
  </div>
  } @else {
  <div class="plants-list">
    @for (plant of plants; track plant.id) {
    <app-plant-status-card
      [plant]="plant"
      (click)="onPlantClick(plant)"
      (longPress)="onPlantLongPress(plant)"
      class="clickable"
    ></app-plant-status-card>
    }
  </div>
  }

  <ion-fab
    id="bottom-right-container"
    horizontal="end"
    vertical="bottom"
    slot="fixed"
  >
    <ion-fab-button (click)="openAddDevice()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
