<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Iot plant monitor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iot Plant Monitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>No devices</strong>
    <p>Click on the + button to add a new plant monitor.</p>
  </div>
  <ion-fab
    id="bottom-right-container"
    horizontal="end"
    vertical="bottom"
    slot="fixed"
  >
    <ion-fab-button routerLink="/add-device">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
